@model MVCOBL.Models.Compra

@{
    ViewData["Title"] = "Details";
}

<h1>Detalle compra</h1>

<div>
    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalCosto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalCosto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoComprobante)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoComprobante)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaRegistro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaRegistro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdTiendaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdTiendaNavigation.IdTienda)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdUsuarioNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdUsuarioNavigation.Id)
        </dd>
    </dl>
</div>
<div>

    <a asp-action="Index" class="btn btn-danger">Volver</a>
</div>
