@model IEnumerable<MVCOBL.Models.Compra>

@{
    ViewData["Title"] = "Index";
}

<h1>Compras</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Crear</a>
</p>
<table class="table">
    <thead>
        <tr>
            @*  <th>
            @Html.DisplayNameFor(model => model.TotalCosto)
            </th>
            <th>
            @Html.DisplayNameFor(model => model.TipoComprobante)
            </th>
            <th>
            @Html.DisplayNameFor(model => model.FechaRegistro)
            </th>
            <th>
            @Html.DisplayNameFor(model => model.IdTiendaNavigation)
            </th>
            <th>
            @Html.DisplayNameFor(model => model.IdUsuarioNavigation)
            </th>*@

            <th>
                Usuario
            </th>
            <th>
                Sucursal
            </th>
            
            <th>
                Fecha
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var dato in ViewBag.combinada)
        {
            <tr>

                <td>@dato.Item1</td>
                <td>@dato.Item2</td>
                <td>@dato.Item3</td>
                <td>
                    <a asp-action="Edit" class="btn btn-warning" asp-route-id="@dato.Item4">Editar</a>
                    <a asp-action="Details" class="btn btn-primary" asp-route-id="@dato.Item4">Detalles</a>
                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-action="Delete" class="btn btn-danger" asp-route-id="@dato.Item4">Borrar</a>
                    }
                    <a asp-action="VerFactura" class="btn btn-success" asp-route-id="@dato.Item4">Factura</a>
                </td>
            </tr>

        }
        
    </tbody>
</table>
