@model IEnumerable<MVCOBL.Models.Factura>

@{
    ViewData["Title"] = "Index";
}

<h1>Facturas</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Crear</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoFactura)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CotizacionNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdClienteNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoFactura)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CotizacionNavigation.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdClienteNavigation.IdCliente)
            </td>
            <td>
                    <a asp-action="Edit" class="btn btn-warning" asp-route-id="@item.Id">Editar</a> 
                    <a asp-action="Details" class="btn btn-primary" asp-route-id="@item.Id">Detalles</a>
                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.Id">Borrar</a>
                    }
                </td>
        </tr>
}
    </tbody>
</table>
