@model IEnumerable<MVCOBL.Models.Producto>


@{
    ViewData["Title"] = "Agregar productos";
}

<h1>Catalogo de productos</h1>


<table class="table">
    <thead>
        <tr>
           
            <th>
                Nombre
            </th>
            <th>
                Descripcion
            </th>
            <th>
                Stock
            </th>
            <th>
                Precio
            </th>
            <th>
                Moneda
            </th>
            <th>
                Categoria
            </th>
            <th>
                Imagen
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.combinada)
        {
            <tr>
              
                <td>
                   @item.Item3
                </td>
                <td>
                    @item.Item4
                </td>          
                <td>
                    @item.Item7
                </td>
                <td>
                    @item.Rest.Item1
                </td>
                <td>
                    @item.Rest.Item4
                </td>
                <td>
                    @item.Item5
                </td>
                <td>
                    <img src="~/imagenes/@item.Rest.Item2" alt="" width="150px" height="100px">
                </td>

            </tr>
        }
    </tbody>
</table>