@model IEnumerable<MVCOBL.Models.Producto>

@{
    ViewData["Title"] = "Index";
}

<h1>Productos</h1>
@if (User.IsInRole("Admin"))
{
    <p>
        <a asp-action="Create" class="btn btn-primary">Agregar producto</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Nombre
            </th>
            <th>
                Descripcion
            </th>
            <th>
                Stock
            </th>
            <th>
                Precio
            </th>
            <th>
                Moneda
            </th>
            <th>
                Categoria
            </th>
            <th>
                Imagen
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>



        @foreach (var items in ViewBag.combinada)
        {
            <tr>
                <td>
                    @items.Item1
                </td>
                <td>
                    @items.Item3
                </td>
                <td>
                    @items.Item4
                </td>
                <td>
                    @items.Item7
                </td>
                <td>
                    @items.Rest.Item1
                </td>
                <td>
                    @items.Rest.Item4
                </td>
                <td>
                    @items.Item5
                </td>
                <td>
                    <img src="~/imagenes/@items.Rest.Item2" alt="" width="150px" height="100px">
                </td>
                <td>
                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-action="Edit" class="btn btn-warning" asp-route-id="@items.Item1">Editar</a>
                    }
                    <a asp-action="Details" class="btn btn-primary" asp-route-id="@items.Item1">Detalles</a>
                   
                        <a asp-action="Delete" class="btn btn-danger" asp-route-id="@items.Item1">Borrar</a>
                    
                </td>

            </tr>
        }



    </tbody>
</table>
