@model IEnumerable<MVCOBL.Models.Ventum>

@{
    ViewData["Title"] = "Index";
}

<h1>Ventas</h1>


<p>
    <a asp-action="Create" class="btn btn-primary">Crear</a>
</p>
<table class="table">
    <thead>
        <tr>          
            <th>
                Usuario
            </th>
            <th>
                Cliente
            </th>
            <th>
                Sucursal
            </th>
            <th>
                Fecha
            </th>
            <th></th>

        </tr>
    </thead>
    <tbody>

        @foreach (var dato in ViewBag.combinada)
        {
            <tr>

                <td>@dato.Item1</td>
                <td>@dato.Item2</td>
                <td>@dato.Item3</td>
                <td>@dato.Item4</td>
                <td>
    
                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-action="Delete" class="btn btn-danger" asp-route-id="@dato.Item5">Borrar</a>
                    }
                    <a asp-action="VerFactura" class="btn btn-success" asp-route-id="@dato.Item5">Factura</a>
                </td>
            </tr>

        }
    </tbody>
</table>
